:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --white-color: #ffffff;
  --black-color: #000000;
  --background: #f5f4fa;
  --background-hero-footer: #2f303a;
  --accent-color: #2196f3;
}

/*------------- studio.html------------ */

.site-body {
  font-family: "Roboto", "sans-serif";
  background-color: var(--background);
  color: var(--primary-text-color);
}

.point-none {
  list-style: none;
}

.underline-none {
  text-decoration: none;
}

/* -------Шапка------- */

.header-logo:focus {
}
.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black-color);
}

.header-logo-half {
  color: var(--accent-color);
}

.header-studio-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

a.current {
  color: var(--accent-color);
}

.header-studio-page {
}
.header-studio-link:hover,
.header-studio-link:focus {
  color: var(--primary-text-color);
}
.header-portfolio-page {
  color: var(--accent-color);
}
.header-contacts-page {
}
.header-contacts {
}
.header-contacts-list {
}
.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}
.header-phone:hover,
.header-phone:focus {
  color: rgb(32, 212, 22);
}
.hero {
}
.hero-title {
}
.hero-button:hover,
.hero-button:focus {
  color: rgb(32, 212, 22);
}
.advantages {
}
.advantages-title {
}
.advantages-list {
}
.advantages-item {
}
.advantage {
}
.advantage-description {
}
.specialization {
}
.specialization-title {
}
.specialization-list {
}
.specialization-item {
}
.team {
}
.team-title {
}
.team-list {
}
.team-member {
}
.team-member-name {
}
.team-member-position {
}
.footer {
}
.footer-logo-half {
}
.footer-contacts {
}
.footer-contacts-list {
}
.contacts-item-adress {
}
.footer-adress:hover,
.footer-adress:focus {
  color: rgb(32, 212, 22);
}
.contacts-item-mail {
}
.footer-mail:hover,
.footer-mail:focus {
  color: rgb(32, 212, 22);
}
.contacts-item-phone {
}
.footer-phone:hover,
.footer-phone:focus {
  color: rgb(32, 212, 22);
}

/* ------portfolio-------- */

.site-body {
}
.header-logo {
}
.header-logo-half {
}
.header-navigation {
}
.header-pages-list {
}
.header-studio-page {
}
.header-studio-link {
}
.header-portfolio-page {
}
.header-contacts-page {
}
.header-contacts {
}
.header-contacts-list {
}
.header-mail {
}
.header-phone {
}
.portfolio-title {
}
.portfolio {
}
.portfolio-list {
}
.portfolio-item-btn {
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: rgb(32, 212, 22);
}
.portfolio-examples-list {
}
.portfolio-examples-item {
}
.porfolio-link:hover,
.porfolio-link:focus {
  color: rgb(32, 212, 22);
}
.portfolio-example-name {
}
.portfolio-example-product {
}
.footer {
}
.footer-logo-half {
}
.footer-contacts {
}
.footer-contacts-list {
}
.footer-contacts-adress {
}
.footer-contacts-mail {
}
.footer-contacts-phone {
}
